@mixin flex($dir: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin nowarp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin break-point($point) {
  @if $point == screenHD {
    @media (min-width: 1500.99px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1200.99px) {
      @content;
    }
  } @else if $point == laptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  } @else if $point == maxTablet {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (max-width: 991.98px) {
      @content;
    }
  } @else if $point == smallTablet {
    @media (min-width: 575.99px) and (max-width: 767.98px) {
      @content;
    }
  } @else if $point == tabletOnly {
    @media (max-width: 991.98px) and (min-width: 575.99px) {
      @content;
    }
  } @else if $point == mobile {
    @media only screen and (max-width: 575.98px) {
      @content;
    }
  }
}
